<button (click)="onHandleClick()" >click</button>
{{isStatus}}
<input type="text" [(ngModel)]="nameInput">
{{nameInput}}
<div *ngIf="isStatus" >
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">tên sản phẩm</th>
            <th scope="col">giá sản phẩm</th>
            <th scope="col">status</th>
            <th scope="col">delete</th>
            <th scope="col">detail</th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of productList">
            <th scope="row">1</th>
            <td>{{product.name}}</td>
            <td>{{product.price}}</td>
            <td>{{product.status ? "còn hàng" : "hết hàng"}}</td>
            <td><button (click)=" onHandleDelete(product.id)" >delete</button></td>
            <td><button (click)="onHandleGetInfo(product)">detail</button></td>
          </tr>
        </tbody>
      </table>
      <div *ngIf="productsDetail">
        {{productsDetail.name}}
  </div>
</div>
