
<table class="table table-bordererd">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Price</th>
      <th>Status</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products; let i = index">
      <td>{{ i + 1 }}</td>
      <td>{{ product.name }}</td>
      <td>{{ product.price }}</td>
      <td>{{ product.status ? "Còn hàng" : "hết hàng" }}</td>
      <td>
        <button (click)="onDelete(product.id)" class="btn btn-danger">delete</button>
        <a href="/product/add"><button class="btn btn-info ms-1">add</button></a>
      </td>
    </tr>
  </tbody>
</table>